<article>
    <form action="/api/auth/register" method="post">
        <header>
            <h1>Registro </h1>
        </header>
        <input type="text" name="first_name" placeholder="Nombre" required />
        <input type="text" name="last_name" placeholder="Apellido" required />
        <input type="email" name="email" placeholder="Correo" required />
        <input type="number" name="dni" placeholder="DNI" required />
        <input type="password" name="password" placeholder="Contraseña" required />
        <input type="number" name="age" placeholder="Edad" />
        <footer>
            <input type="submit" value="Entrar" />
        </footer>
        <a href="/login">Quiero iniciar sesión</a>
    </form>
</article>