<article>
    <form action="/api/sessions/login" method="post">
        <header>
            <h1>log in</h1>
        </header>
        <input type="email" name="email" placeholder="your@mail.com" required />
        <input type="password" name="password" placeholder="Password" required />
        <footer>
            <input type="submit" value="Entrar" />
        </footer>
        <a href="/register">Quiero registrarme</a>
    </form>
</article>