<article>
    <form action="/api/sessions/recovery-password" method="post">
        <header>
            <h1>Recover your password</h1>
        </header>
        <input type="email" name="email" placeholder="your@mail.com" required />
        <input type="password" name="password" placeholder="password" required />
        <footer>
            <input type="submit" value="login" />
        </footer>
        <a href="/login">Log in</a>
    </form>
</article>