<article>
  <form action="/api/sessions/recovery-password" method="post">
    <header>
      <h1>Recuperar contrase침a 游때</h1>
    </header>
    <input type="email" name="email" placeholder="Correo" required>
    <input type="password" name="password" placeholder="Contrase침a" required>
    <footer>
      <input type="submit" value="Entrar">
    </footer>
    <a href="/login">Iniciar Sesi칩n</a>
  </form>
</article>