<h1 class="title">Chat</h1>

<style>
  article header { font-size: 1.5em; font-weight: bold; } article p { margin:
  5px 0; } article p{ font-weight: bold; }
</style>

<p>chat cliente</p>
<form id="form-message">
  <input
    id="input-message"
    type="text"
    placeholder="Write your message"
    required
  />
  <input type="submit" value="Enviar" />
</form>
<h3>Mensajes</h3>
<div id="log-messages">
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"> </script>
<script src="../js/chat.js"></script>