<section class="user-information">

  <header>
    <h1>User information</h1>
  </header>

  <div class="user-details">
    <h2>Name: <span class="user-name">{{first_name}}</span></h2>
    <h2>Email: <span class="user-email">{{email}}</span></h2>
    <h2>Role: <span class="user-role">{{role}}</span></h2>
  </div>

</section>

<section class="password-recovery">

  <header>
    <a href="/api/password-recovery" role="button">Recover password</a>
  </header>

</section>