<h1>Login</h1>

<form action="/api/productsCookies" method="post">
  <label for="fullname">Fullname: </label>
  <input type="text" id="fullname" name="fullname" required />

  <button type="submit">Login</button></form>