<article>
  <form action="/sessions/login" method="post">
    <h1>Login</h1>
    <input type="text" name="email" placeholder="correo" required />
    <input type="text" name="password" placeholder="password" required />

    <footer>
      <input type="submit" value="Enter" />
    </footer>

    <a href="/sessions/github" role="button">Login with Github</a><br />
    <a href="/register">Register</a>
  </form>

</article>