<article>
  <form action="/sessions/register" method="post">
    <header>Login</header>
    <input type="text" name="first_name" placeholder="First name" required />
    <input type="text" name="last_name" placeholder="Last name" required />
    <input type="number" name="age" placeholder="Age" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />

    <footer>
      <input type="submit" value="Entrar" />
    </footer>
    <a href="/login">I want to login</a>
  </form>
</article>