<form
  action="http://localhost:8080/api/users/{{uid}}/documents"
  method="POST"
  enctype="multipart/form-data"
>
  <div>
    <label for="product">Product File:</label>
    <input type="file" id="product" name="product" />
  </div>

  <div>
    <label for="document">Document File:</label>
    <input type="file" id="document" name="document" />
    <label for="document">Address</label>
    <input type="file" id="domicilio" name="address" />
    <label for="document">Account</label>
    <input type="file" id="cuenta" name="account" />
    <label for="document">ID</label>
    <input type="file" id="identificacion" name="ID" />

  </div>

  <div>
    <label for="profile">Profile Picture:</label>
    <input type="file" id="profile" name="profile" required />
    <small>Only one profile picture allowed.</small>
  </div>

  <div>
    <button type="submit">Upload</button>
  </div>
</form>