<article>
    <header>
        <h1>greetings</h1>
    </header>
    <p><strong>Nombre:</strong> {{user.first_name}}</p>
    <p><strong>Apellido:</strong> {{user.last_name}}</p>
    <p><strong>Correo:</strong> {{user.email}}</p>
    <p><strong>Edad:</strong> {{user.age}}</p>
    <footer>
        <a href="/api/session/logout" role="button">Salir</a>
    </footer>
</article>